.contenidoError{
    width: 100%;
    border: 2px solid #efefef;
    text-align: center;
    margin: 2%;
}

.digitoError{
    color: red;
    font-weight: bold;
}

.enunciadoError{
    color: gray;
    font-weight: lighter;
}